@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;
}
.containerHeader{
    display: flex;
    align-items: center;
    width: 100%;
}
.containerHeaderInterno{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.7rem;
    width: 100%;
    gap: 2rem
}
.imgLogo{
    height: 2.8rem;
    object-position: center;
}

.buttonPadrao{
    display: none;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.buttonMenu{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;    
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

.buttonSpace{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.buttonSpace i{
    align-items: center;
    display: flex;
    height: 0rem;
    font-size: 1.3rem;

}

@media(min-width: 768px) {
    .imgLogo{
        height: 3.3rem;
    }
    .buttonPadrao{
        display: flex;
    }
    .buttonMenu{
        display: none;
    }
    .buttonSpace i{
        font-size: 1.3rem;
    }
    .containerHeaderInterno{
        gap: 0;
    }
}
@media (min-width: 1024px) {   
}
@media (min-width: 1280px) { 
}